<h1>Sites#list_site</h1>
<p>Find me in app/views/sites/list_site.html.erb</p>
<h2>Site, Pages: Hits</h2>
<table>

  <tr>
    <th>Total</th>
    <th>Hits</th>
  </tr>

  <tr>
  <% site = Site.find_by_name(params[:id]) %>
    <td><%= site.name %></td>
    <td><%= site.hits %></td>
  </tr>
  <tr>
    <th>Page</th>
    <th>Hits</th>
  </tr>

  <%  pages = Page.where(:site_id => params[:id])
    pages.each do |page| %>
    <tr>
      <td><%= page.id %></td>
      <td><%= page.hits %></td>
    </tr>
  <% end %>
</table>
