<h1>Sites#list</h1>
<p>Find me in app/views/sites/list.html.erb</p>
<h2>Sites and Hits</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Hit Count</th>
    <th>Duration</th>
    <th>Avg visit length</th>
  </tr>

  <%  sites = Site.find(:all)
    sites.each do |site| %>
    <tr>
      <td><%= site.name %></td>
      <td><%= site.hits %></td>
      <td><%= site.total_duration %></td>
      <td><%=
        if site.total_duration == 0
          site.total_duration.to_i
        else
          site.total_duration.to_i / site.hits.to_i
        end
%></td>
    </tr>
  <% end %>
</table>
